* {
  box-sizing: border-box;
}
body {
  font-family: Montserrat;
}
button {
  font-family: Montserrat;
}

/* Header  */

header {
  padding: 30px;
  display: flex;
  align-items: center;
  margin-left: 30px;
}
header h1 {
  font-size: 48px;
  font-weight: 100;
}
header i {
  color: #5c48d3;
  margin-right: 50px;
}
.line {
  width: 100%;
  border: #e5e5e5 1px solid;
}
button {
  width: 100px;
  height: 50px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 500px;
}
.buttons > div {
  display: flex;
}
.buttons > div > div {
  display: flex;
  flex-direction: column;
}
.isactive {
  background-color: #5c48d3;
  color: white;
  border: none;
  margin-right: 50px;
}
.deactivated {
  background-color: white;
  color: #5c48d3;
  border: #908f8f 1px solid;
  margin-right: 50px;
}

.red {
  background-color: #d34948;
  border: none;
  color: white;
  width: 200px;
  height: 100px;
  font-size: 25px;
}
.green {
  background-color: #46ac4a;
  border: none;
  color: white;
  width: 200px;
  height: 100px;
  font-size: 25px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer {
  font-weight: 100;
  font-size: 15px;
}
footer span {
  font-weight: 400;
}
