* {
  box-sizing: border-box;
}
body {
  font-family: Montserrat;
}
button {
  font-family: Montserrat;
}

/* Header  */

header {
  padding: 30px;
  display: flex;
  align-items: center;
  margin-left: 30px;
}
header h1 {
  font-size: 48px;
  font-weight: 100;
}
header i {
  color: #5c48d3;
  margin-right: 50px;
}
.line {
  width: 100%;
  border: #e5e5e5 1px solid;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}
.buttons > div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

button {
  width: 80px;
  height: 50px;
  font-size: 20px;
  margin-bottom: 30px;
}

.isactive {
  background-color: #5c48d3;
  color: white;
  border-radius: 5px;
  border: none;
  margin-right: 50px;
}
.deactivated {
  background-color: white;
  color: #5c48d3;
  border: #908f8f 1px solid;
  border-radius: 5px;
  margin-right: 50px;
}
